<h2>Dragon Ball Z</h2>
<hr>

<div class="row">
    <div class="col">
        <app-personajes [personajes]="personajes">  
        </app-personajes>
    </div>

    <div class="col">
        <h3>Agregar</h3>
        <hr>
        <form (ngSubmit)="agregar()">
            <input 
                placeholder="Nombre" 
                type="text"
                name="nombre"
                [(ngModel)]="nuevo.nombre">

               <!-- [value]="nuevo.nombre"
                (input)="cambiarNombre( $event )">-->
            <input 
                placeholder="Poder" 
                type="number"
                name="poder"
                [(ngModel)]="nuevo.poder">

            
            <button type="submit">
                Agregar</button>
        </form>
    </div>
</div>